body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.pagination-div ul li {
    display: inline;
}

.pagination-div {
    display: flex;
    justify-content: center;
}

.filter {
    display: block;
}

.in_filter {
    width: 80%;
    background-color: #E9EBEA;
    color: black;
    text-align: left;
    padding-top: 15px;
    justify-content: center;
    margin: auto;
}

strong {
    font-size: 19px;
}

.form-check {
    /* display: inline-block; */
    margin-right: 25px;
    margin-left: 150px;
}

@media all and (max-width: 1024px) {
    .search-pp {
        display: none;
    }
}

@media all and (max-width: 768px) {
    .pre-navbar {
        display: none;
    }
}

@media all and (max-width: 425px) {
    .first_footer_inner {
        display: none;
    }
}